img {
  height: 200px;
  object-fit: contain;
}

header a {
  text-decoration: none;
  color: green;
  font-weight: 700;
  
}

li a:hover {
  color: black;
}

li a.active {
  color: black;
}
.overlay {
  background-color: green;
  padding: 10px;
  color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 5px;
  opacity: 0;
  transition: 0.4s;
  overflow-y: auto;
 
}

.card:hover .overlay{
opacity: 1;
}

